# .gitignore file

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.pytest_cache/

# Archives
*.tar
*.tar.gz
*.tgz
*.zip

# Editor
*.swp
.vscode/
.idea/

# Project artifacts
/logs/
/outputs/
/downloads/
/code/
/configs/devlocal/
/configs/gitops/
/configs/r01preprod-jde/
/configs/preprod/
/apps/ipam/data/*
!/apps/ipam/data/.gitkeep

