[Unit]
Description=Normalize CNI permissions for Multus/Canal compatibility
Documentation=https://github.com/rancher/rke2
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=30

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fix-cni-perms.sh

[Install]
WantedBy=multi-user.target
